@layer base {
    .bundle {
        display: flex;
        flex-direction: column;
    }
    :root {
        --base-font-size: 16px; /* Set your base font size here */
    }

    @layer base {
            .bundle {
                    display: flex;
                    flex-direction: column;
            }
    }

    .bundle-coverage, .bundle-ip, .bundle-description, .bundle-price, .bundle-header {
            background-color: var(--tg-theme-section-bg-color);
    }

    .bundle-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            margin: 1rem;
            border-radius: 0.5rem;
            padding: 1rem;
    }

    .bundle-title {
            flex-grow: 1;
            font-size: 1.25rem;
            font-weight: 500;
            color: var(--tg-theme-section-header-text-color);
            align-self: center;
            padding: 0 1rem;
    }

    .bundle-image img {
            max-width: 9.375rem;
            height: auto;
            border-radius: 5%;
            object-fit: cover;
    }

    .bundle-description {
            padding: 0 1rem;
            color: var(--tg-theme-subtitle-text-color);
            line-height: 1.5;
    }

    .bundle-header-top {
            display: flex;
            justify-content: space-between;
    }

    .bundle-ip {
            padding: 0 1rem;
            line-height: 1.5;
    }

    .bundle-price {
            display: flex;
            justify-content: space-between;
            margin: 0 0.9375rem;
    }

    .bundle-coverage {
            padding: 0 1rem;
            color: var(--tg-theme-text-color);
    }

    .button {
            background-color: var(--tg-theme-button-color);
            color: var(--tg-theme-button-text-color);
    }

    .space {
            background-color: var(--tg-theme-secondary-bg-color);
    }

    .network {
            background-color: aqua;
    }

    .country {
            background-color: beige;
    }

    .bundle-section {
            margin: 0 0.9375rem;
            border-radius: 0.5rem;
    }
}


.bundle-coverage, .bundle-ip, .bundle-description, .bundle-price, .bundle-header {
    background-color: var(--tg-theme-section-bg-color);
}

