.bundle {
    display: flex;
    flex-direction: column;
    /* border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    overflow: hidden; */
    /* margin: 16px; */
    background-color: var(--tg-section-bg-color);
    color: var(--tg-theme-text-color);
}

.bundle-header {
    display: flex;
    align-items: center;
    padding: 16px;
}

.bundle-title {
    flex-grow: 1;
    margin-left: 16px;
    font-size: 20px;
    font-weight: 500;
    color: var(--tg-theme-section-header-text-color);
}

.bundle-image img {
    /* width: 100px; */
    max-width: 150px;
    height: auto;
    border-radius: 5%;
    object-fit: cover;
}

.bundle-description {
    padding: 0 16px;
    color: var(--tg-theme-hint-color);
    line-height: 1.5;
}

.bundle-ip {
    padding: 0 16px;
    line-height: 1.5;
}

/* .bundle-plans {
    padding: 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
} */

.bundle-price {
    display: flex;
    justify-content: space-between;
    margin: 0px 15px;
}

.bundle-coverage {
    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-text-color);
}
