* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--tg-theme-bg-color);
}

body {
  color: var(--tg-theme-text-color);
  /* height: var(--tg-viewport-stable-height); */
}